<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>loginServlet2</servlet-name>
        <servlet-class>skylinksystem.controlador.loginServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoUsuarioServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.listadoUsuarioServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoControllerAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.productoControllerAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriaControllerAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.categoriaControllerAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movimientoControllerAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.movimientoControllerAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wsGetListaProductos</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet2</servlet-name>
        <url-pattern>/loginServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoUsuarioServletAdm</servlet-name>
        <url-pattern>/listadoUsuarioServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoControllerAdm</servlet-name>
        <url-pattern>/productoControllerAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriaControllerAdm</servlet-name>
        <url-pattern>/categoriaControllerAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movimientoControllerAdm</servlet-name>
        <url-pattern>/movimientoControllerAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wsGetListaProductos</servlet-name>
        <url-pattern>/wsGetListaProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
