<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listadoProductoServletUser</servlet-name>
        <servlet-class>skylinksystem.controlador.listadoProductoServletUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet2</servlet-name>
        <servlet-class>skylinksystem.controlador.loginServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoMovimientoServletUser</servlet-name>
        <servlet-class>skylinksystem.controlador.listadoMovimientoServletUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoProductoServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.listadoProductoServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaMovimientoServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.listaMovimientoServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductoServlet</servlet-name>
        <servlet-class>skylinksystem.controlador.deleteProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoCategoriaServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.listadoCategoriaServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listadoUsuarioServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.listadoUsuarioServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.AgregarProductoServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEditarProductoServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.ModificarEditarProductoServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEditarProductoServlet</servlet-name>
        <servlet-class>skylinksystem.controlador.EnviarEditarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsuarioServletAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.AddUsuarioServletAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoControllerAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.productoControllerAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriaControllerAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.categoriaControllerAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movimientoControllerAdm</servlet-name>
        <servlet-class>skylinksystem.controlador.movimientoControllerAdm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listadoProductoServletUser</servlet-name>
        <url-pattern>/listadoProductoServletUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet2</servlet-name>
        <url-pattern>/loginServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoMovimientoServletUser</servlet-name>
        <url-pattern>/listadoMovimientoServletUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoProductoServletAdm</servlet-name>
        <url-pattern>/listadoProductoServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaMovimientoServletAdm</servlet-name>
        <url-pattern>/listaMovimientoServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductoServlet</servlet-name>
        <url-pattern>/deleteProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoCategoriaServletAdm</servlet-name>
        <url-pattern>/listadoCategoriaServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listadoUsuarioServletAdm</servlet-name>
        <url-pattern>/listadoUsuarioServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoServletAdm</servlet-name>
        <url-pattern>/AgregarProductoServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEditarProductoServletAdm</servlet-name>
        <url-pattern>/ModificarEditarProductoServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEditarProductoServlet</servlet-name>
        <url-pattern>/EnviarEditarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsuarioServletAdm</servlet-name>
        <url-pattern>/AddUsuarioServletAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoControllerAdm</servlet-name>
        <url-pattern>/productoControllerAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriaControllerAdm</servlet-name>
        <url-pattern>/categoriaControllerAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movimientoControllerAdm</servlet-name>
        <url-pattern>/movimientoControllerAdm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
